* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f9f5f0;
  /*color: #3a2a23;*/
  height:100%;
  overflow-y: auto;
}

.topnav {
  align-items: center;
  overflow: hidden;
  background-color: #e0dcd6;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 70px;
  opacity: 1;
}

.topnav.responsive {
  max-height: 330px;
  opacity: 1;
}

.topnav.closing {
  opacity: 0;
}

.logo {
  display: flex;
  justify-content: left;
}

.topnav img {
  width: 60px;
  /*margin-bottom: 20px;*/
}

.topnav a {
  float: left;
  color: #24211e;
  text-align: center;

  padding: 14px 16px;
  /*margin: 20px 5%;*/

  text-decoration: none;
  font-size: 16px;
}

.topnav a.right-nav {
  float: right;
  font-family: "Montserrat", serif;
  padding: 23px 16px;
}

.topnav a:hover {
  color: #a68061;
  display: block;
}

.topnav a.active {
  color: #A68061; 
}

.topnav a.icon {
  display: none;
  padding: 15px 16px;
}

.topnav a.icon:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header {
  margin: 3px;
  padding: 1px;
}

.main {
  text-align: center;
  color: white;
  /*padding: 100px 20px;*/
  position: relative;
  overflow: hidden;
}

.mySlides {
  display: none;
}

.slideshow-container img {
  max-width: 100%;
  display: block;
  height: auto;
}

.slideshow-container {
  max-height: 500px;
  width: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/*.active {
  background-color: #717171;
}*/

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.main-content {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .main-content {
    top: 25%;
    /* Adjust width for smaller screens */
  }
}

.main h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 0;
}

.main p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-top: 10px;
}

.main .shop-btn {
  background-color: #d7b89e;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.products {
  text-align: center;
  margin-top: 40px;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: center;
}

.product {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
}

.menus
{
  text-align:center;
  margin-top:40px;
}

.menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between the menu items */
  margin: 40px 0; /* Add vertical spacing */
  padding: 0;
  list-style: none; /* Remove bullet points if using <ul> */
}

.menu {
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  display: inline-block;
  font-size: 18px;
 
  border-bottom: 2px solid transparent; /* Default: No line under the text */
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.menu h3 {
  margin: 10px 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #3a2a23; /* Darker text for better contrast */
}

.menu:hover {
  color: #A68061; /* Highlight color on hover */
}


.menu.clicked {
  color: #b08872; /* Match the highlight color */
  border-bottom: 2px solid #b08872; /* Add brown line under the active text */
  font-weight: 700; /* Bold the active text */
}



.hero-image {
  background-image: url("images/hero.jpg"); /* Ensure the file path is correct */
  height: 400px; /* Set a fixed height for better visibility */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 3px;
  padding: 1px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}

.hero-text h1 {
  font-size: 40px; /* Adjust size as needed */
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px; /* Slight negative spacing for tighter look */
  line-height: 1.2;
  margin: 0;
  font-weight:600;
}

.hero-text p {
  font-size: 1.2rem; /* Smaller, supporting text */
  font-weight: 300; /* Regular weight */
  margin-top: 10px;
}

#menu-image {
  display: none;
  width: 80%;  /* Limit the width of the displayed image */
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom:1px;
}



.video-holder {
  display: grid;
  place-items: center;
  padding: 20px 20px;
  text-align: center;
}

iframe {
  max-width: 100%;
  /* Ensures the iframe is responsive */
  max-height: 100%;
  /* Keeps the aspect ratio intact */
}

footer {
  background-color: #A68061;
  color: #ccc;
  font-family: "Raleway", serif;
  padding: 20px 0;
}

.footer-left img {
  max-width: 100px;
  /* Set a maximum width */
  height: auto;
  /* Maintain aspect ratio */
  margin: 0 auto;
  /* Center the image if needed */
  display: block;
  /* Ensure proper alignment */
}

footer a{
  color: #24211E;
  text-decoration: none;
}

footer a:hover{
  color: #805A39;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.footer-left{
  flex: 1;
  font-size: 1px;
}

.footer-center,
.footer-right {
  flex: 1;
}

.footer-left h3 {
  color: #fff;
}

.footer-center h4,
.footer-right h4 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-right img {
  max-width: 30px;
  /* Set a maximum width */
  height: auto;
  /* Maintain aspect ratio */
  margin: 0 auto;
  /* Center the image if needed */
  display: block;
  /* Ensure proper alignment */
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  margin-bottom: 5px;
}

.footer-right .social-icons {
  margin-top: 10px;
}

.footer-right .social-icon {
  display: inline-block;
  margin-right: 10px;
  color: #ccc;
  font-size: 20px;
  text-decoration: none;
}

.footer-right .social-icon:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.button-container {
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  height:100%px;
}

.button-container img{
  border-radius: 50%;
  width:120px;
  height:120px;
  margin-bottom:10px;
}

.button-container h1{
  font-size: 32px;
  color: #3a2a23;
  font-family: "Montserrat", sans-serif;
  margin-bottom:10px;

}

.button-container p{
  font-size: 16px;
  color: #595959;
  margin-bottom:10px;
}


.button-container button {
  display: block;
  width: 480px; /* Reduce button size for better spacing */
  background: linear-gradient(to right, #A68061, #d7b89e);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px; /* Rounded buttons */
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.button-container button:hover {
  background: #A68061;
  transform: scale(1.05); /* Subtle zoom effect */
}

.location-background{
background: linear-gradient(to bottom, #f9f5f0 80%, #a68061);

}

.about-container{
  margin:30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}
 
.about-us{
  
  display:flex;
  flex-direction: row;
  gap:20px;
  padding: 50px 10%;
  background-color: #f2ebe4;
  gap:30px;
  border-radius:10px;
}

.about-us img{
  width:50%;
  height:auto;
  position:relative;
  border-radius:10px;
}

.about-us h1{
  font-size:40px;
  font-family:'Conv_bod72w--';
  color:#444;
  margin-bottom:10px;
  
}

.about-us p{
  font-size:16px;
  font-family:'CormorantGaramond-Regular';
  line-height:35px;
  margin-right:10px;
  color:#555;
  
}

.about-us a{
  text-decoration: none;
}

.about-us button{
  background: linear-gradient(to right, #A68061, #d7b89e);
  margin-top:10px;
  width:200px;
  font-size:16px;
  border-width:1px;
  border-radius:5px;
  border-color:#bbb;
 padding:10px;
 font-weight:bold;
 color:white;
 display:block;
 text-decoration: none;
 transition: transform 0.2s ease, background 0.3s ease;
}

.about-us button:hover{
  background: #A68061;
  transform: scale(1.05);
}

 .hero3-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero3.jpg");
  background-size:contain;
  height: 250px; /* Set a fixed height for better visibility */
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 3px;
  padding: 1px;
}


@media screen and (max-width: 768px) {
  .menu-list {
    gap: 20px; /* Adjust spacing for smaller screens */
  }
  
  #menu-image {
    width: 70%;
    max-width: 500px;
  }

  .about-us {
    flex-direction: column;
    padding: 20px 10%;
  }

  .about-us img {
    width: 80%;  /* Adjust image width for smaller screens */
    margin-bottom: 20px;
  }

  .about-us h1 {
    font-size: 32px;  /* Slightly smaller font size on mobile */
  }

  .about-us p {
    font-size: 14px;  /* Slightly smaller text on mobile */
    line-height: 28px;  /* Adjust line height for readability */ .footer-container {
    flex-direction: column;  /* Stack footer sections vertically */
    align-items: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin-bottom: 20px;  /* Add some space between sections */
  }

  .footer-left img {
    width: 80px;  /* Adjust logo size in footer */
  }

  .social-icons a {
    margin-right: 15px;  /* Adjust space between social icons */
  }
  }

  .about-us button {
    width: 100%;  /* Make the button take full width on smaller screens */
  }
  .footer-container {
    flex-direction: column;  /* Stack footer sections vertically */
    align-items: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin-bottom: 20px;  /* Add some space between sections */
  }

  .footer-left img {
    width: 80px;  /* Adjust logo size in footer */
  }

  .social-icons a {
    margin-right: 15px;  /* Adjust space between social icons */
  }
}

@media screen and (max-width: 480px) {
  .menu-list {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  /* Adjust displayed image size for very small screens */
  #menu-image {
    width: 100%;
    max-width: 400px;
  }
  .about-us {
    padding: 10px;  /* Reduce padding on very small screens */
  }

  .about-us img {
    width: 100%;  /* Make the image take up the full width */
    margin-bottom: 15px;
  }

  .about-us h1 {
    font-size: 28px;  /* Adjust the heading size for small screens */
  }

  .about-us p {
    font-size: 14px;  /* Smaller font size for better fitting */
    line-height: 24px;
  }

  .about-us button {
    width: 100%;  
    font-size: 14px;  
  }

  .button-container button{
    width:300px;
    font-size:14px;
    
  }
}